/*  green dark #14BDAC
    green light #0DA192
    dark        #303134
    light dark #545454*/

*{

    box-sizing: border-box;
}


body{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


.game-container{

background-color: #303134;
color: white;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 130px 415px ;
width: 500px;
height: 600px;


}


.game-board{
    
    background-color: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.cells-container{


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    width: 350px;
    
    
    
}

.cell{
   border: 3px #0DA192 solid;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cell:hover{
    cursor: pointer;
    background-color: #23dfcc;
}


.top-row{

    border-top: none;

}


.bottom-row{

    border-bottom: none;
}


.one,
.four,
.seven{

   
    border-left: none;

}



.three,
.six,
.nine{

   
    border-right: none;
}


.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;

}


.btn-restart{

    
    display: block;
    cursor: pointer;
    color: #14BDAC;
}


.btn-restart:hover{

    color: #23dfcc;
}




.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    color: white;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.x,.o{
    color: white;
    display: flex;
    width: 25px;
}

.x-score{

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px #424548 solid;
    
    border-radius: 8px;
    flex-basis: 35%;
    padding: 7px;
    margin: 0 5px;
   
}


.bottom-border{

    border-bottom: 3px #14BDAC solid;
}

.x-score:hover,
.o-score:hover{

    border-bottom: 3px #14BDAC solid;
    cursor: pointer;
}

.x-turn:active,
.o-turn:active{

    border-bottom: 3px #14BDAC solid;
}


.players{

    display: none;
}


.o-score{

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px #424548 solid;
    border-radius: 8px;
    flex-basis: 35%;
    padding: 7px;
    margin: 0 5px;
    
}


.game-over{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: none;

  
}



.o-turn{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: table-row;
    justify-content: center;
    
    

}



.x-turn{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: table-row;
    justify-content: center;

}


.default-msg{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: block;
    justify-content: center;
    

}


.hidden{


    display: none;
}

