
*{

    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}


.x-score img,
.o-score img{

    width: 15%;
}

.x-win img,
.o-win img{
    width: 100%
}





.game-container{

background-color: #303134;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 130px 415px ;
width: 500px;
height: 600px;

}



.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    color: white;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

p{
    color: #7e7f80;
    font-size: 2rem;
    display: contents;
}

.x-score,
.o-score{

    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px #424548 solid;
    border-radius: 9px;
    flex-basis: 35%;
    margin: 0 7px;
}


.x-score:hover,
.o-score:hover{

    border-bottom: 3px #14BDAC solid;
    cursor: pointer;
}

.x-score:active,
.o-score:active{

    border-bottom: 3px #07ffe6 solid;
}



.game-over{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: none;

  
}


.x-turn img,
.o-turn img{

    width: 2.7%;
}



.o-turn,
.x-turn,
.default-msg{

    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
    display: block;
    justify-content: center;
    color: #a0a0a0;

}


.game-board{
    
    background-color: #14BDAC;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.cells-container{


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    width: 350px;
    
    
    
}

.cell{
   border: 3px #0DA192 solid;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cell:hover{
    cursor: pointer;
    background-color: #23dfcc;
}


.top-row{

    border-top: none;

}


.bottom-row{

    border-bottom: none;
}


.one,
.four,
.seven{

   
    border-left: none;

}



.three,
.six,
.nine{

   
    border-right: none;
}


.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;

}


.btn-restart{

    
    display: block;
    cursor: pointer;
    color: #14BDAC;
}


.btn-restart:hover{

    color: #23dfcc;
}




.hidden{

    display: none;
}
